body {
  font: 16px Alegreya Sans, sans-serif;
  color: #222;
  margin-left: 20%;
  padding: 0;
  background: #d3d3dd;
}

h1, 
h2, 
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 1em;
  font-family: Alegreya Sans, sans-serif;
}

h1 {
  font-size: 2.1em;
}

h2 {
  font-size: 1.5em;
}

p {
    font-size: 1em;
}